appnope==0.1.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
beautifulsoup4==4.6.0
bleach==1.5.0
Brotli==1.0.9
bs4==0.0.1
certifi==2018.1.18
check50==2.2.1
click==6.7
cycler==0.10.0
dash==1.19.0
dash-bootstrap-components==0.11.2
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.9.0
dash-table==4.11.2
DateTime==4.3
decorator==4.3.0
defusedxml==0.5.0
docopt==0.6.2
entrypoints==0.2.3
enum34==1.1.6
Flask==1.1.2
Flask-Compress==1.7.0
Flask-SQLAlchemy==2.4.4
future==0.18.2
google-api-python-client==1.6.2
grip==4.5.2
gunicorn==20.0.4
html5lib==0.9999999
httplib2==0.10.3
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.11.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==3.0.2
mistune==0.8.3
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.2.2
notebook==5.7.0
numpy==1.16.2
oauth2client==4.0.0
oauthlib==2.0.2
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
path-and-address==2.0.1
pbr==3.1.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==8.2.0
plotly==4.11.0
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
ptyprocess==0.5.2
pyasn1==0.2.3
pyasn1-modules==0.0.8
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-editor==1.0
pytz==2017.2
pyzmq==17.1.2
qtconsole==4.4.1
requests==2.13.0
requests-oauthlib==0.8.0
retrying==1.3.3
rsa==3.4.2
scikit-learn==0.20.0
scipy==1.1.0
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.3.23
stevedore==1.28.0
submit50==2.4.7
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.1.1
traitlets==4.3.2
tweepy==3.5.0
uritemplate==3.0.0
urllib3==1.25.8
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
wcwidth==0.1.7
Werkzeug==1.0.1
widgetsnbextension==3.4.2
zope.interface==5.2.0
